::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}

#left-pane {
  /* width: 200px; */
  height: 100%;
  background-color: #e0e6f6;
  position: fixed;
  top: 75px;
  left: 0;
  /* bottom: -75px; */
  overflow: scroll;
}
