@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
form {
  /* width: 80%; */
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  padding-bottom: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.h1 {
  text-align: center;
  margin: 0;
  padding: 1rem 0;
  font-size: 1.6rem;
  /* color: #3a4257; */
  font-weight: 500;
}
.h3 {
  background: #3a4257;
  margin-top: 0;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: center;
  padding: 1.5rem 0;
  color: rgb(243, 244, 255);
  font-size: 1.6rem;
}

.form-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0rem;
  margin-top: -1rem;
  color: #3a4257;
}

.copyright {
  font-size: 0.8rem;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.input-div {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 1rem;
  margin: 0 1rem;
}

.ptamacs-order {
  font-size: 1.3rem;
  margin-bottom: -0.75rem;
  margin-top: 0.75rem;
  font-weight: 600;
}

.directions {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  margin: 0 1rem;
}
.input-1 {
  width: 85%;
  padding: 0.5rem;
  outline: none;
  border-radius: 6px;
  /* background: transparent; */
  margin: 1rem 0;
  border: 1px solid #3a4257;
  height: 2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.input-2 {
  text-align: center;
}

.input-2:hover {
  border: 1px solid blue !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

input::placeholder {
  color: #b2b6bd !important;
}
.button-1 {
  background: #3a4257 !important;
  color: rgb(243, 244, 255) !important;
  border: none !important;
  font-weight: 600 !important;
  font-size: 1.5rem !important;
  border-radius: 5px !important;
  padding: 0.5rem 1rem !important;
  margin: 1.2rem 0 !important;
  cursor: pointer !important;
}

.button-1:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

.button-1:focus {
  box-shadow: none !important;
}

/* *********************==================== Thanks Modal ====================********************* */

.main {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
.container-thank {
  border-radius: 25px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  padding: 45px;
  align-items: center;
  justify-content: center;
}

.image {
  background-image: url("https://plus.unsplash.com/premium_photo-1661719096747-0501039e0ab9?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover !important;
  background-position: center !important;
}

.container-thank img {
  width: 70px;
  margin-bottom: 0;
}

.container-thank h1 {
  margin-top: 16px;
  line-height: 3.5rem;
  font-size: 2.5rem;
}

.container-thank h2 {
  margin-top: 16px;
  line-height: 3rem;
  font-size: 2rem;
  color: #3a4257;
}

.container-thank p {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5rem;
  font-size: 1.5rem;
  color: #3a4257;
  font-weight: 600;
}

.container-thank span {
  font-weight: 700;
  font-size: 2rem;
  color: #000;
}
